/*ЗАГОЛОВОК*/
.header-custom {
  background-color: #191919;
  border-bottom: 2px solid #a8729f;
box-shadow: 0 7px 20px rgba(255, 20, 147, 0.5);
  z-index: 100;
  margin: auto;
}

.brand {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end; 
}

.nav-menu-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 10px;
  background: #191919;
  border-top: 1px solid #a8729f;
  display: none;
  padding: 10px 0;
}

.nav-menu li a,
.nav-menu-mobile li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.nav-menu li a.active,
.nav-menu-mobile li a.active {
  color: #a8729f;
}

/* мобильное меню */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
}

/* Скрытое мобильное меню */
.nav-menu-mobile.open {
  display: flex;
}

/* АДАПТАЦИЯ для маленьких экранов */
@media (max-width: 768px) {
  .nav-menu {
    display: none !important; /* Скрываем десктопное меню на мобильных устройствах */
  }

  .header-custom .container {
    padding-left: 12px;
    padding-right: 12px;
    width: auto; 
    max-width: none; 
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  

  .header-custom .container {
    padding-left: 12px;
    padding-right: 12px;
    width: auto; 
    max-width: none; 
  }

  /* Дополнительные стили для мобильного меню на планшетах */
  .nav-menu-mobile li a {
    font-size: 1.1rem; /* Уменьшаем размер шрифта для мобильного меню */
  }
}

.header-custom {
    padding-top: 15px; 
    padding-bottom: 15px;
}




/*ГЛАВНАЯ*/

section#blocks-section {
  padding: 40px 0;
  background-color: white;
  display: flex;
  justify-content: center; 
   border-bottom: 2px solid #a8729f;
    width: 95%; 
    margin: 0 auto;
}


.blocks-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto; 
  grid-gap: 20px; 
  width: 80%; 
  max-width: 1200px; 
}


.block {
  background: #fff;
  padding: 30px 22px;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}


.block.img {
  padding: 0; 
  background-size: cover; 
  background-position: center; 
}

section#rew {
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

    .review-container {
        width: 100%; 
        max-width: 750px; 
        aspect-ratio: 1.25; 
        overflow: hidden; 
        border: 1px solid #a8729f;
        border-radius: 10pt;
        box-shadow: 0 7px 20px rgba(255, 20, 147, 0.5);
        position: relative; 
    }

    .review-container iframe {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
        border: none; 
    }

    @media (max-width: 768px) {
        section#rew {
            padding-top: 3rem; 
            padding-bottom: 3rem;
             max-width: 90%; 
             margin: auto;
        }

        .review-container {
            max-width: 90%; 
            aspect-ratio: auto; 
        }
    }

.block h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 900px) {
  .blocks-grid {
    grid-template-columns: repeat(2, 1fr); /* Две колонки на средних экранах */
    width: 90%; /* Немного увеличиваем ширину сетки на меньших экранах */
  }
  .block.img {
      min-height: 180px; /* Может быть полезна для изображения, чтобы оно не было слишком маленьким */
  }
}

@media (max-width: 600px) {
  .blocks-grid {
    grid-template-columns: 1fr; /* Одна колонка на малых экранах */
    width: 95%; /* Еще немного увеличиваем ширину */
  }
  .block.img {
      min-height: 150px; /* Уменьшаем минимальную высоту изображения на самых малых экранах */
  }
}





/**/
section#intro-header {
    display: flex; /*  для выстраивания элементов */
    align-items: center; 
    background-image: url(../im/i0.jpg);
    background-size: cover; 
    background-position: center; 
    padding: 50px 15px; 
    color: white;  
    margin-top: 3rem;
    height: 100vh; 
}

section#intro-header .container {
    display: flex; 
    width: 100%; 
}

section#intro-header .wrap {
    padding: 30px; 
    border-radius: 20px;
    max-width: 800px; 
}

section#intro-header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px; 
}

section#intro-header h2 {
    font-size: 1.25rem; 
    line-height: 1.6; 
}






/* Медиазапросы для улучшения адаптивности */
@media (max-width: 768px) {
    section#intro-header {
        align-items: flex-start; 
        padding: 30px 15px; 
        background-color: black; 
        background-image: none; 
    }

    section#intro-header .wrap {
        max-width: 100%; /* Увеличение ширины контейнера на мобильных устройствах */
        text-align: left; /* Выравнивание текста по левому краю */
    }

    section#intro-header h1 {
        font-size: 2rem;
        padding-top: 7rem;
    }

    section#intro-header h2 {
        font-size: 1rem; /* Уменьшение размера подзаголовка на мобильных устройствах */
    }

   
}




section#contact {
    padding: 20px 15px; 
}

.form-horizontal {
    max-width: 100%; 
}

.form-group {
    margin-bottom: 15px; 
}



/* Медиазапросы для улучшения адаптивности */
@media (max-width: 768px) {
    section#intro-header h1 {
        font-size: 2rem; /* Уменьшение размера заголовка на мобильных устройствах */
    }

    section#intro-header h2 {
        font-size: 1rem; /* Уменьшение размера подзаголовка на мобильных устройствах */
    }

    .form-control {
        font-size: 1rem; /* Увеличение размера шрифта для удобства ввода */
    }
}




section#photo p {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem; 
    color: black;
}

/* Стили для карусели */

section#photo {
    background-color: white; 
    padding: 50px 0; 
    border-bottom: 2px solid #a8729f;
    width: 95%; 
    margin: 0 auto;
}

.cont {
    max-width: 600px;
    margin: 0 auto; 
    text-align: center; 
    padding: 20px; 
    position: relative; 
}

section#photo .carousel-inner {
    border-radius: 10px; 
    border: 1px solid #a8729f;
     box-shadow: 0 7px 20px rgba(255, 20, 147, 0.5);
    overflow: hidden; 
}

section#photo .carousel-item img {
    width: auto; 
    height: 600px; 
    object-fit: cover; 
    border: 2px solid #a8729f; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}

section#photo .carousel-item img:hover {
    transform: scale(1.05); 
}


section#photo .carousel-control-prev,
section#photo .carousel-control-next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 10; 
    filter: invert(1);
    width: 40px; 
    height: 40px; 

    
}

section#photo .carousel-control-prev {
    left: -70px; 
}

section#photo .carousel-control-next {
    right: -70px; 
}

/* Адаптивность для мобильных устройств */
@media (max-width: 1024px) {
    section#photo .carousel-item img {
        height: 500px; /* Уменьшаем высоту для планшетов */
    }

    section#photo .carousel-control-prev,
    section#photo .carousel-control-next {
       display: none;
    }

    section#photo p {
        font-size: 1.75rem; /* Уменьшаем размер текста для планшетов */
    }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    section#photo .cont {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    section#photo .carousel-item img {
        height: 380px; 
      
    }

    section#photo p {
        font-size: 1.5rem; /* Уменьшаем размер текста на мобильных устройствах */
    }

    section#photo .carousel-control-prev,
    section#photo .carousel-control-next {
       display: none;   
    }
}



/*УСЛУГИ*/
.btn-pink{
    background-color: pink;
    height: 40pt;
    width: 5%;
    color: black;
    margin-left: 16rem;
}
section#about {
     background-color: black;
    background-size: cover;
    padding-top: 9rem; 
    height: auto; 
    padding-bottom: 5rem;
}

section#about hr {
    width: 95%;
    color: black;
    margin-left: 1rem;
}

section#about .manic,
section#about .hair,
section#about .cosm {
    flex: 1 1 300px; 
    max-width: 35%; 
    background-color: white;
    transition: transform 0.3s ease; 
    border-radius: 20pt;
    margin: 1rem; 
    padding: 1rem; 
    border: 2px solid #a8729f;
    box-shadow: 0 5px 15px rgba(255, 20, 147, 0.5);
}

section#about .manic:hover,
section#about .hair:hover,
section#about .cosm:hover {
    transform: scale(1.05);
}

section#about h4 {
    padding-bottom: 0.5rem; 
    padding-left: 1.5rem;
    font-size: 25pt;
}

section#about p.description {
    color: gray; 
    text-align: left;
    font-size: 15pt;
    font-weight: normal;
    padding-left: 1.5rem;
}

section#about .nexti {
    display: inline-block; 
    border-radius: 5pt;
    width: 40%;
    height: 50pt;
    margin-top: 25pt;
    background-color: #191919;
    color: white; 
    font-size: 15pt;
    text-decoration: none; 
    text-align: center; 
    line-height: 50pt; 
}
section#about .cosm a {
margin-top: 70pt;
}
.kontainer {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
   
    padding-bottom: 3rem;
}


  .faq-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 60px;
  }
  
  .faq-title {
    text-align: center;
    color: white;
    margin-bottom: 50px;
   
  }
  
  .faq-item {
    border-bottom:  2px solid #a8729f;
  
    position: relative;
  }
  
  .faq-question {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    
    font-size: 20pt;
    padding: 32px 90px 32px 0;
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .faq-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: inline-block;
    pointer-events: none;
  }
  .faq-icon::before,
  .faq-icon::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background:white;
    transition: 0.3s;
  }
  .faq-icon::before {
    width: 48px;
    height: 2px;
    transform: translate(-50%,-50%);
  }
  .faq-icon::after {
    width: 2px;
    height: 48px;
    bottom: -4px;
    transform: translate(-50%,-50%);  
    box-shadow: 0 5px 15px rgba(255, 20, 147, 0.5);
  }
  .faq-item.active .faq-icon::after {
    height: 0;
    opacity: 0;
  }
  .faq-item.active .faq-icon::before {
    background: white;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(.41,.56,.65,1.2);
    font-size: 15pt;
    color: rgba(255, 20, 147, 0.5);
    padding: 0 0 0 0;
  }
  
  .faq-item.active .faq-answer {
    padding: 0 0 32px 0;
    max-height: 200px; 
  }
  
@media (max-width: 768px) {
    section#about .manic,
    section#about .hair,
    section#about .cosm {
        flex: 1 1 100%; 
        max-width: 95%;
        margin: auto; 
        margin-top: 2rem;
    }
    .faq-icon {
       
        width: 30px;
        height: 30px;
        
      }
    .faq-question {
        font-size: 14pt;
      
      }
      .faq-answer {
       
        font-size: 10pt;
        
      }
}

/* Айпады и устройства с шириной от 769px до 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    section#about .manic,
    section#about .hair,
    section#about .cosm {
        flex: 1 1 45%; 
        max-width: 45%;
        margin: 1rem; 
    }
   .hair hr {
    margin-top: 3rem;
}
}

/*ВОЛОСЫ|МАНИКЮР|КОСМЕТОЛОГИЯ*/
section#property1 {
    background-color: black;
    background-size: cover;
    padding: 2rem; 
}

section#property1 .home {
    background-color: rgba(82, 78, 78, 0.8); 
    max-width: 1000px; 
    margin: 5rem auto; 
    border-radius: 15px; 
    padding: 2rem; 
    margin-top: 10rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}

section#property1 .home h1 {
    color: white;
    padding: 1rem 0; 
    text-align: center; 
    font-size: 28px; 
    border-bottom: 2px solid #ff69b4; 
}

section#property1 .home ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding-left: 0; /* Убираем отступ слева */
}

section#property1 .home li {
    color: white;
    padding: 10px 0; 
    font-size: 18px; 
    display: flex; 
    justify-content: space-between; 
}

section#property1 .home li span {
    color: white; 
    font-weight: bold;
    
}

.btn.btn-pik {
    
    width: 20%; 
    background-color: #a8729f; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    margin-top: 20px; 

}

.btn.btn-pik:hover {
    background-color: #ff1493; 
    transform: scale(1.05); 
}

/* Адаптивные стили */
@media (max-width: 768px) {
    section#property1 .home {
        width: 100%; /* Ширина блока на мобильных устройствах */
        margin-left: auto;
        margin-right: auto;
        padding: 1rem; /* Уменьшаем отступы на мобильных устройствах */
    }

    section#property1 .home h1 {
        font-size: 24px; /* Размер заголовка на мобильных устройствах */
    }

    section#property1 .home li {
        font-size: 12.5px; /* Размер шрифта для списка на мобильных устройствах */
    }

    .btn.btn-pik {
        padding: 8px; /* Уменьшаем отступы внутри кнопки на мобильных устройствах */
        font-size: 14px; /* Размер шрифта на кнопке на мобильных устройствах */
         width: 30%; 
    }
}



/*МАСТЕРА*/

section#property4 .cont1 {
    max-width: 700px;
    margin: 0 auto; 
    text-align: center; 
    padding: 60px; 
    position: relative; 
}

section#property4 .carousel-inner {
    border-radius: 10px; 
    overflow: hidden; 
    border-bottom: 1px solid #a8729f;
     box-shadow: 0 7px 20px rgba(255, 20, 147, 0.5);
}

section#property4 .carousel-item img {
    width: auto; 
    height: 700px; 
   background-image:  cover; 
    border: 2px solid #a8729f; 
    border-radius: 10px; 
   
}



section#property4 .carousel-control-prev,
section#property4 .carousel-control-next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 10; 
    width: 40px; 
    height: 40px; 

    
}

section#property4 .carousel-control-prev {
    left: -20px; 
}

section#property4 .carousel-control-next {
    right: -20px; 
}

/* Адаптивность для мобильных устройств */
@media (max-width: 1024px) {
    section#property4 .carousel-item img {
        height: 600px; /* Уменьшаем высоту для планшетов */
    }

    section#property4 .carousel-control-prev,
    section#property4 .carousel-control-next {
        display: none; }

    section#property4 p {
        font-size: 1.75rem; /* Уменьшаем размер текста для планшетов */
    }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
 

    section#property4 .carousel-item img {
        height: 400px; /* Уменьшаем высоту для мобильных устройств */
    }

    section#property4 p {
        font-size: 1.5rem; /* Уменьшаем размер текста на мобильных устройствах */
    }

    /* Скрываем кнопки управления каруселью на мобильных устройствах */
    section#property4 .carousel-control-prev,
    section#property4 .carousel-control-next {
        display: none; /* Скрываем кнопки */
    }
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 1rem;
    background-color: black;
}

.content-container p {
    color: white;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 2rem; 
}


.home1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    margin-bottom: 2rem;
    width: 80%; 
    max-width: 1000px; 
}


.master-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.circle {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #a8729f;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 20, 147, 0.5);
    position: relative; 
}

.circle:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 25px rgba(255, 20, 147, 0.7);
}

.circle img {
    display: block; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
}


.name {
    color: white;
    margin-top: 15px; 
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}


.subtitle {
    color: gray; 
    font-weight: normal;
    font-size: 1rem; 
    text-align: center; 
    margin-top: 5px; 
}


/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
    .home1 {
        grid-template-columns: repeat(2, 1fr); /* Две колонки */
        gap: 40px; /* Уменьшим отступ */
    }

    .circle {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 480px) {
    .home1 {
        grid-template-columns: 1fr; /* Одна колонка */
        gap: 30px; /* Еще уменьшим отступ */
        width: 90%; /* Увеличим ширину для мобильных */
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    .name {
        font-size: 1rem;
    }
}





/*ОБР.СВЯЗЬ*/
section#contact {
    background-color: black;
    padding: 4rem 0; 
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Вертикальное направление */
    align-items: center;
}

section#contact .container {
    margin-top: 5rem; 
    padding-bottom: 3rem;
}

.bl {
    padding: 12px 24px; 
    background-color: #a8729f; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;  
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.bl:hover {
    background-color: black;
}

.whatsapp-icon {
    margin-right: 10px;
    font-size: 1.2rem; /* Размер иконки */
    color: white; /* Цвет иконки */
}

section#contact .row {
    background-color: #f8f9fa; 
    width: 100%; 
    max-width: 650px; 
    margin: 0 auto; 
    padding: 1rem; 
    border-radius: 15pt;
    box-shadow: 0 7px 20px rgba(255, 20, 147, 0.5);
    border: 3px solid #a8729f;
}

.form-group {
    margin-bottom: 1.5rem;
}

h5.price-geadline {
    color: #333;
    text-align: left;
    margin-bottom: 1rem;
}

iframe {
    width: 90%; 
    height: 400px; /* Высота для больших экранов */
    border-radius: 10pt; /* Скругленные углы для карты */
    overflow: hidden; /* Скрываем переполнение */
    box-shadow: 0 7px 20px rgba(255, 20, 147, 0.5);
    border: 3px solid #a8729f;
}

@media (max-width: 768px) {
    iframe {
        width: 95%; 
    }
    
    section#contact .container {
        margin-top: 8rem; 
    }
    section#contact .row {
       
        width: 90%; 
        max-width: 600px; 
      
        
       
    }
    section#contact h5{
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    iframe {
        height: 300px; /* Высота для средних экранов */
    }
}
/*ПОДВАЛ*/
footer {
    background-color: #191919;
    color: #adadad;    
    padding: 2em 0; 
     border-top: 1px solid #a8729f;
     box-shadow: 0 5px 30px rgba(255, 20, 147, 0.5);

}

footer h5 {
    font-weight: bold;
    margin: 0.5em 1em; 
    font-size: 1.2em; 
}


footer address {
    color: #5a5a5a;
}

footer ul {
    padding-left: 0; 
}

footer address strong {
    color: #adadad;
    display: block;
    padding-bottom: 0.62em;
}

footer a {
    color: #5a5a5a;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
   footer h5{
     font-size: 0.9em; 

   }
   footer address  {
    font-size: 0.9em;
}
footer a {
      font-size: 0.9em;
}
}
